*{
    box-sizing: border-box;
}
body{
    background-color: steelblue;
    color: white ;
    font-family: 'Ubuntu Mono', monospace;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
    margin-bottom: 80px;
}
.container a{
    text-decoration: none;
    color: lightblue;
}

.form-control{
    position: relative;
    width: 300px;
    margin: 20px 0 40px;
}
input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    color: white;
}
input:focus, input:valid{
    outline: 0;
    border-bottom-color: lightblue;
}

.login{
    width: 100%;
    font-size: 20px;
    font-family: cursive;
    background-color: lightblue ;
    border: 0;
    cursor: pointer;
    padding: 15px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
}
.login:active{
    transform: scale(0.98);
}
.login:hover{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
p{
    margin-top: 30px;
    color: white;
}

label{
    position: absolute;
    top: 5px;
    left: 0;
}  



span{
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:focus + label span,
input:valid + label span
{
    color: lightblue;
    transform: translateY(-30px);
}